*.exe
/(CG) Algoritmos Geração de Retas/nbproject/private/
/(CG) Algoritmos Geração de Retas/build/
/(CG) Geração de Círculos/nbproject/private/
/(CG) Geração de Círculos/build/
/(CG) Algoritmos Geração de Círculos/nbproject/private/
/(CG) Algoritmos Geração de Círculos/build/
